<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF44D91221897AF0007C4FD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF44D92921897AF3007C4FD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF44D93421897AF3007C4FD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
